body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  background-color: #fff;
  border-radius: 5px;
  width: 75%;
  padding: 0 10px;
  margin-bottom: 20px;
  margin-left: 13%;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
  display: flex;
  flex-wrap: wrap;
}

.imgs{
  flex: 0 0 220px;
  max-width: 220px;
  overflow: hidden;
  padding: 10px;
}

.imgs img{
  margin-bottom: 11px;
  width: 100%;
  height: 140px;
  border-radius: 4px;
  position: relative;
  font-size: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.genre-details{
  position: relative;
  flex: 0 0 650px;
  max-width: 150px;
  margin-left: 6%;
}

.genre-details button{
  background-color: #38bb92;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 10px 14px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  display: inline-block;
  font-weight: 500;
  margin-bottom: 1rem;
}

.genre-details span{
  color: #363636;
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin-top: 32%;
    margin-bottom: 8%;
}

.content{
  background-color: #f2f6fb;
  display: grid;
  grid-template-columns: 50% 50%;
}

.home{
  background: linear-gradient(45deg,#543cd0 0,#ae459c 99%);
  font-size: 100px;
  padding: 35.5px 0;
  width: 100%;
  color: white;
  height: 564px;
}

.home h1 {
  font-size: 260px;
  font-weight: bolder;
}

.about{
  background: linear-gradient(45deg,#543cd0 0,#ae459c 99%);
}

.about img {
  width: 75%;
}

.NavLink{
  color: #fff;
    background-color: #007bff;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    width: 4%;
}

.active a{
  color: black;
}

.logo{
  max-width: 160px;
  max-height: 45px;
}

.dimmed.dimmable > .ui.modals.dimmer.visible {
  display: flex !important;
}